<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de livros</h1>
    <ul>
      <% books.forEach(function(book){ %>
        <li>Livro:
          <%= book.nomeb %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
